public class ControleEstoquePadaria {
	public static void main (String [] args) {
		// declaração das varáveis
		int quantidadeFarinha = 10; // Quantidade Inicial de farinha
		int quantidadeAcucar = 5; // Quantidade Inicial de Açucar

		System.out.println ("Quantidade de farinha disponivel: " + quantidadeFarinha + " xicaras");
		System.out.println ("Quantidade de açucar disponivel: " + quantidadeAcucar + " colheres de sopa");
	}	
}
